body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 10px solid;
    border-top: 0;
    box-sizing: border-box;
}

.rectangle{
    position: absolute;
}

.btn,.txt{
    width: 25%;
    height: 30px;
    background-color:rgb(240, 240, 240);

}

span{
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    border: 10px solid black;
    background-color: rgb(173, 173, 173);
}
#controls{
    display: none;
}

@media only screen and (max-width: 500px) {
    #controls{
        position: fixed;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        width: 150px;
        height: 150px;
        left:45vw;
        left: calc(50vw - 75px);
        bottom: 10vh;
    }
    
    .btn-color{
        background-color: rgba(210, 210, 210, 0.1);
        border-color: rgba(210, 210, 210, 0.3);
        z-index:10;
    }
    
    .btn-up{
        grid-column: 2;
        grid-row: 1;
    }
    
    .btn-rigth{
        grid-column: 3;
        grid-row: 2;
    }
    
    .btn-down{
        grid-column: 2;
        grid-row: 3;
    }
    
    .btn-left{
        grid-column: 1;
        grid-row: 2;
    }
  }

